<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>pedrule Web-Component</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="margin:0;">
<fake-element is-scroll-width>
    <div>ceci est un test</div>
    <div>ceci est un test</div>
    <div>ceci est un test</div>
    <div>ceci est un test</div>
    <div>ceci est un test</div>
    <div>ceci est un test</div>
    <div>ceci est un test</div>
    <div>ceci est un test</div>
    <div>ceci est un test</div>
</fake-element>

<fake-element  style="bottom: 50px; top: auto;">
    <div>ceci est un test sans scroll horizontal</div>
    <div>ceci est un test sans scroll horizontal</div>
    <div>ceci est un test sans scroll horizontal</div>
    <div>ceci est un test sans scroll horizontal</div>
    <div>ceci est un test sans scroll horizontal</div>
    <div>ceci est un test sans scroll horizontal</div>
    <div>ceci est un test sans scroll horizontal</div>
    <div>ceci est un test sans scroll horizontal</div>
    <div>ceci est un test sans scroll horizontal</div>
</fake-element>

</body>
</html>